body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
  text-align: center;
  background-color: #e7e6ff;
}

.message {
  margin-bottom: 50px;
  font-size: 1.4rem;
  color: #343394;
}

.caution {
  font-size: 2rem;
  font-weight: 600;
}
