* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
}

body {
  margin: 0;
  padding: 20px;
  background-color: #343394;
}

.main-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #343394;
}

.main-container section {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 96%;
  margin-left: 20px;
  border-radius: 30px;
  background-color: #e7e6ff;
}

section.active:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #fff;
  opacity: 0.7;
  content: '';
}

#toastMessage {
  opacity: 0;
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  color: #000000;
  transition: all 0.5s;
}

#toastMessage.active {
  z-index: 20;
  opacity: 100%;
  bottom: 50px;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

p {
  margin: 0;
}

.flex {
  display: flex;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.none {
  display: none;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 20px;
}

.font-lg {
  font-size: 34px;
}

.font-light {
  font-weight: 100;
}

.font-bold {
  font-weight: 600;
}

.font-black {
  font-weight: 900;
}

.red-color {
  color: #f2482e;
}

.white-color {
  color: #ffffff;
}

.button-red {
  background-color: #f2482e;
}

.button-red:hover {
  background-color: #d5250a;
}

.button-purple {
  background-color: #343394;
  opacity: 50%;
}

.button-purple:not(:disabled):hover {
  opacity: 100%;
}

.button-purple:disabled {
  background-color: #838383;
  cursor: default;
}

.circle-button {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 999px;
}

.round-button {
  box-sizing: border-box;
  height: 60px;
  padding: 15px 35px;
  border-radius: 60px;
}
