.complete-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #e7e6ff;
}
.complete-container::after {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  backdrop-filter: blur(1px);
}
.complete-main {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.complete-scene {
  width: 390px;
  height: 390px;
  background-color: white;
}
.complete-input-container {
  justify-content: center;
  align-items: center;
  width: 604px;
  height: 84px;
  margin-top: 20px;
  background-color: white;
  border-radius: 35px;
}
.complete-input {
  width: 487px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #aaa;
}
.complete-input::placeholder {
  color: #aaa;
}
.complete-input:focus {
  outline: none;
}
.complete-button-container {
  justify-content: space-evenly;
  width: 420px;
  margin-top: 20px;
}
.restart-button {
  background-color: #9797c9;
}
.restart-button:hover {
  background-color: #6464a7;
  transition: all 0.2s ease-in-out;
}
