.main-bg {
  position: relative;
  overflow: hidden;
  width: 78%;
  height: calc(100vh - 40px);
  border-radius: 40px;
}

.main-bg-img {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 103%;
  height: 103%;
  background: url('../assets/img/mainbg.jpg') no-repeat center;
  background-size: cover;
}

.sidebar-container {
  position: relative;
  width: 22%;
}

.sound-box {
  margin-bottom: 60px;
}

.sound-button {
  align-items: center;
  margin-left: auto;
  width: 47px;
  height: 39px;
  background: url('../assets/img/css_sprites.png') -130px -108px;
  transition: none;
}

.mode-button {
  width: 100%;
  height: 130px;
  color: #ffffff;
  background: -300px no-repeat;
  transition: all 0.5s ease-in-out;
}

.mode-button:hover {
  color: #f2482e;
}

.mode-button.active {
  color: #f2482e;
  background: url('../assets/img/active-mode-btn.png') -5px no-repeat;
  background-size: cover;
}

.big-start-button {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 80%;
  height: 70px;
  text-align: center;
  background: #f2482e;
  color: #ffffff;
  border-radius: 10px;
  transition: all 0.3s;
}

.big-start-button:hover {
  width: 85%;
  height: 80px;
}

.mode-blur-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 98%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 40px;
  padding: 60px;
  transition: opacity 0.3s ease;
}

.guide-mode-box {
  justify-content: space-evenly;
}

.guide-mode {
  position: relative;
  width: 25%;
  height: 200px;
  border-radius: 30px;
  padding: 15px;
}

.guide-mode:hover {
  width: 30%;
}

.guide-mode.active {
  width: 30%;
}

.mode-info {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.flex-start {
  align-self: flex-start;
}

.level {
  margin-top: 10px;
}

.blue-bg {
  background: url('../assets/img/blue-gamebg.png');
  background-size: cover;
}

.red-bg {
  background: url('../assets/img/orange-gamebg.png');
  background-size: cover;
}

.green-bg {
  background: url('../assets/img/green-gamebg.png');
  background-size: cover;
}

.rocket-img {
  position: absolute;
  top: -30px;
  right: 0;
  width: 60%;
  max-width: 100px;
}

.play-icon {
  position: absolute;
  bottom: 120px;
  width: 47px;
  height: 47px;
  background: url('../assets/img/css_sprites.png') -96px -8px;
}

.check-icon {
  position: absolute;
  right: 15px;
  bottom: 50px;
  width: 37px;
  height: 27px;
  background: url('../assets/img/css_sprites.png') -221px -125px;
}
