.play-wrap section .bottom-layout {
  height: 68px;
  margin: 0 55px 57px 55px;
}

.arrowButtonBox {
  position: absolute;
  right: 0;
}

.bottom-layout {
  z-index: 1;
}

.play-wrap section .bottom-layout ul {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 20px;
}

.play-wrap section .bottom-layout ul li {
  height: 100%;
}

.circle-button.restart-button {
  background: url('/src/assets/img/nav_sprites.png') no-repeat -186px -9px;
  background-color: #888;
  opacity: 50%;
}

.circle-button.restart-button:hover {
  opacity: 100%;
}

.rollback-button {
  background: url('/src/assets/img/checked_sprites.png') no-repeat -107px -56px;
  opacity: 50%;
}

.unfold-button {
  background-color: #4746c1;
  font-size: 10px;
  opacity: 100%;
}

.unfold-button:not(:disabled):hover {
  background-color: #343394;
}

.unfold-button:disabled {
  background-color: #838383;
  cursor: default;
}

.commit-button {
  background: url('/src/assets/img/checked_sprites.png') no-repeat -103px -2px;
  opacity: 50%;
}

.guide-wrap {
  position: absolute;
  top: 39px;
  left: 57px;
  padding: 16px 60px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

.guide-wrap > .guide-slider {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 10px;
}

.guide-wrap > .guide-slider .slider {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  transition: 0.5s;
}

.guide-wrap > .guide-slider .slider li {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: #e7e6ff;
}

.guide-wrap > .guide-slider img {
  width: 120px;
  height: 120px;
}

.guide-wrap .arrow > a.prev {
  position: absolute;
  top: 42%;
  left: 24px;
}

.guide-wrap .arrow > a.next {
  position: absolute;
  top: 42%;
  right: 20px;
}

.prev {
  width: 16px;
  height: 26px;
  background: url('/src/assets/img/checked_sprites.png') no-repeat -20px -72px;
}

.next {
  width: 16px;
  height: 26px;
  background: url('/src/assets/img/checked_sprites.png') no-repeat -80px -18px;
}

.pagination {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  color: #343394;
  font-size: 16px;
  text-align: center;
}

.complete-cont {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.complete-cont .complete-scene {
  width: 390px;
  height: 390px;
  margin-bottom: 20px;
}

.complete-cont form {
  width: 100%;
}

.complete-cont form input {
  width: 100%;
  height: 60px;
  padding: 15px;
  border: none;
  border-radius: 99px;
}

.complete-button-container {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}

.play-cont {
  position: relative;
}

.play-canvas {
  position: absolute;
  width: 100%;
}

#confetti-canvas {
  position: absolute;
}
